@font-face {
  font-family:'Amazon Ember';
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")
  }
  
  @font-face {
  font-family:'Amazon Ember';
  font-style:italic;
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")
  }
  
  @font-face {
  font-family:'Amazon Ember';
  font-weight:700;
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")
  }
  
  @font-face {
  font-family:'Amazon Ember';
  font-style:italic;font-weight:700;
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")
  }
    
#cart-app {
  font-family: 'Amazon Ember';
  width: 180px;
  min-width: 180px;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  float: left;
  padding: 15px;
  font-size: 13px;
  line-height: 19px;
}

#cart-price {
  color: #B12704!important;
  font-size: 17px!important;
  margin-bottom: 5px;
}

#cart-prime {
  line-height: 19px;
  vertical-align: top;
  margin-left: -2px;
}

#cart-logo {
  vertical-align: middle;
}

#cart-shazam {
  color: #41a1dd;
  font-weight: 700;
  vertical-align: middle;
}

#cart-oneday {
  color: #555;
  vertical-align: middle;
}

#cart-shipping {
  margin-top: 20px;
}

.cart-fakelink {
  color: #1c50b2;
  cursor: pointer;
}

.cart-fakelink:hover {
  text-decoration: underline;
}

#cart-location {
  margin-top: 10px;
  margin-left: -2px;
}

#cart-pin {
  vertical-align: middle;
}

#cart-stock {
  margin-top: 20px;
  font-size: 17px!important;
  color: #2d6615;
}

#cart-quantity {
  margin-top: 15px;
}

#cart-add {
  margin-top: 30px;
}

#cart-btn-add {
  background-image: linear-gradient(#f7e4b3, #ebb63c);
  border-top: 1px solid #977528;
  border-bottom: 1px solid #977528;
  width: 100%;
  height: 25px;
  padding: 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 3px;
}

#cart-cart {
  vertical-align: middle;
  float: left;
}

#cart-add-text {
  vertical-align: middle;
  margin-left: -25px;
}

#cart-soldby {
  margin-top: 10px;
}

.cart-separator {
  margin-top: 20px;
  margin-bottom: 10px;
}

.cart-line {
  border-style: solid;
  border-color: lightgray;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  height: 10px;
}

.cart-oneclick {
  color: #636363;
  font-size: 10px;
}

#cart-oneclick {
  margin-top: 10px;
}

#cart-btn-oneclick {
  background-image: linear-gradient(#efb671, #e78132);
  border-top: 1px solid #bd6929;
  border-bottom: 1px solid #90521f;
  width: 100%;
  height: 25px;
  padding: 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 3px;
}

#cart-click {
  vertical-align: middle;
  float: left;
}

#cart-click-text {
  vertical-align: middle;
  margin-left: -25px;
}

#cart-gift {
  margin-top: 10px;
}

#cart-list-select {
  margin-top: 10px;
  background-image: linear-gradient(#f9fafb, #e2e4e7);
  border-top: 1px solid #9da2aa;
  border-bottom: 1px solid #7a7e84;
  width: 100%;
  height: 25px;
  padding: 0px 0px 0px 1px;
  cursor: pointer;
}

#cart-btn-registry {
  margin-top: 10px;
  background-image: linear-gradient(#f9fafb, #e2e4e7);
  border-top: 1px solid #9da2aa;
  border-bottom: 1px solid #7a7e84;
  width: 100%;
  height: 25px;
  padding: 0px 0px 0px 1px;
  text-align: left;
  cursor: pointer;
}

#cart-btn-registry-text {
  margin-left: 6px;
}

#cart-dash {
  margin-top: 15px;
  text-align: center;
}

#cart-share {
  margin-top: 25px;
  text-align: center;
}

#cart-share-link {
  vertical-align: middle;
}

.cart-btn-share {
  vertical-align: middle;
}

.cart-click-line {
  color: lightgray;
  text-decoration: line-through;
  white-space: pre-wrap;
}

#cart-modal {
  font-family: 'Amazon Ember';
  font-size: 10px;
}

#cart-disable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 1;
}

#cart-expanded {
  display: block;
  position: absolute;
  width: 350px;
  height: 235px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .75);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
}


#cart-close {
  display: inline-block;
  margin-left: 275px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

#cart-close img {
  padding-top: 7px;
  width: 10px;
  height: 10px;
}

#cart-buy-title {
  background-color: #f2f2f2;
  color: black;
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #c5c5c5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#cart-buy-title-text {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
}

.cart-buy-lefttext {
  display: inline-block;
  color: #005fc7;
  height: 10px;
  width: 100px;
  padding-left: 10px;
  padding-top: 14px;
}

.cart-buy-centertext {
  display: inline-block;
  height: 10px;
}

#cart-buy-price {
  display: inline-block;
  height: 10px;
  color: #c20000;
}

#cart-buy-shipto {
  border-bottom: 1px solid #c5c5c5;
  height: 40px;
}

#cart-buy-paywith {
  border-bottom: 1px solid #c5c5c5;
  height: 40px;
}

#cart-buy-getby {
  border-bottom: 1px solid #c5c5c5;
  height: 40px;
}

#cart-buy-total {
  border-bottom: 1px solid #c5c5c5;
  height: 40px;
}

#cart-buy-order {
  height: 44px;
  background-color: #f2f2f2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#cart-buy-orderBtn {
  font-family: 'Amazon Ember';
  float: right;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 3px;
  background: linear-gradient(#fade92, #f8c418);
  border-bottom: 1px solid #886b11;
  border-right: 1px solid #a17f13;
}